<script setup>

import News from "./News.vue";
</script>
<template>
    <header class="max-w-7xl mx-auto">
        <nav class="m-2 p-2">
            <router-link :to="{ name: 'Home' }" class="px-4 py-2 bg-indigo-500 hover:bg-indigo-700 text-white rounded">Home</router-link>
            <router-link :to="{ name: 'News' }" class="ml-2 px-4 py-2 bg-indigo-500 hover:bg-indigo-700 text-white rounded">News</router-link>
        </nav>
    </header>
    <main class="m-2 p-2  max-w-7xl mx-auto min-h-screen">
        <router-view>
        </router-view>
    </main>
</template>
