<script setup>
import useNews from "../resources/news";
import { onMounted } from "vue";

const { news, getNews } = useNews();
onMounted(() => getNews());
</script>
<template>
    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Title
                </th>
                <th scope="col" class="px-6 py-3">
                    Description
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="newsItem in news" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ newsItem.id }}
                </th>
                <td class="px-6 py-4">
                    <router-link :to="{ name: 'Show', params: { id: newsItem.id }}">{{ newsItem.title }}</router-link>
                </td>
                <td class="px-6 py-4">
                    {{ newsItem.description }}
                </td>
                <td class="px-6 py-4">
                    <router-link :to="{ name: 'Show', params: { id: newsItem.id }}" class="px-4 py-2 bg-indigo-500 hover:bg-indigo-700 text-white rounded">Show</router-link>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>
